## Class 19 Notes

In [5]:
# Your Code Here
import numpy as np
import pandas as pd
%matplotlib inline

import matplotlib.pyplot as plt
from pandas.plotting import autocorrelation_plot
plt.style.use('fivethirtyeight')

#Calculating Autocovariance and Autocorrelation in Statsmodels
from statsmodels.tsa.stattools import acf, acovf


df = pd.read_csv('C:/Users/James.Kelly/DAT-06-24/class material/Unit 4/Class 18/data/msft.csv', index_col='Date', parse_dates=True)
df.head()

               Close
Date
1986-03-01  0.095486
1986-04-01  0.111979
1986-05-01  0.121528
1986-06-01  0.106771
1986-07-01  0.098958